@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: #800000; 
  --background-color1: #E5E5E5; 
  --background-color2: #fff;
  --text-color1: #333; 
  --text-corlor2: #fff;
}

* {
  margin: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: var(--background-color1);
  color: var(--text-color1);
  font-size: 20px;
}

.main {
  margin-top: 30px;
}

/* Navbar */
.navbar {
  display: flex;
  margin-top: 56px;
  background-color: var(--primary-color);
  height: 56px;
}

.navbar div {
  width: 33.333%;
  text-align: center;
  line-height: 56px;
}

.navbar a {
  display: inline-block;
  width: 100%;
  color: var(--text-corlor2);
  text-decoration: none;
}

/* Home page */
.title {
  background-color: var(--primary-color);
  color: var(--text-corlor2);
  height: 45px;
  width: 150px;
  box-sizing: border-box;
  padding: 10px 12px;
  border-radius: 15px;
  margin-left: 21px;
  margin-bottom: 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--primary-color);
  width: 80vw;
  height: 65px;
  border-radius: 32px;
  border: none;
  color: white;
}

input[type="text"] {
  width: 80vw;
  height: 63px;
  background-color: #F5F4F2;
  border-radius: 32px;
  border: none;
  margin-bottom: 20px;
  color: #241C1C;
  font-size: 18px;
}

.roselogo {
  width: 55px;
}

footmsg {
  font-size: 11x;
  margin-bottom: 10px;
}

a {
  color: #800000;
  text-decoration: bold;
}

.flexcenter > h1 {
  margin-bottom: 40px;
}

.padtop {
  margin-top: 15vh;
}

